// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$primary-color: #A71930;
#top_banner {
    background-color: $primary-color;
    color: #fff;
}